.hero-main {
  // height: 35vw;
  // min-height: 578px;
  height: 578px;
  padding: 64px 140px;
  background-image: url('../../../images/dist/main-hero-bg.jpg');
  background-position: center center;
  background-size: cover;

  &:after {
    content: url('../../../images/dist/main-hero-img.png');
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding: 16px 140px 64px 140px;
    // padding: 64px 140px;

    * {
      z-index: 1;
      position: relative;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;

    &:after {
      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 90%;
      transform: scaleY(-1);
      z-index: 1;
      background: -webkit-linear-gradient(#00000000, #ffffff59);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__btns {
    width: 300px;
    display: flex;
    gap: 22px;
    flex-direction: column;
  }
}